.app-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.viewer-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Ensure canvas takes full space */
.viewer-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}

